.main-container {
  background: url("https://cdn.dribbble.com/users/160641/screenshots/14505381/media/db196b23526697e8740551c27da53d46.gif");
  background-size: cover;
  height: 120vh;
  margin: 0%;
  padding: 0%;
}
