.todo {
  background-image: url("https://cdn.dribbble.com/users/274876/screenshots/12074340/media/6067ba51a3da5bf15d4353da1ff4279b.jpg");
  width: 100%;
  height: 100vh;
}

.para {
  display: inline;
}

.btn {
  width: 30%;
  border-radius: 23px;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 15px 5%;
  color: #fff;
  transition: all 0.2s linear;
  display: inline-block;
  font-weight: 500;
  color: white;
  background-color: #4b68de;
  border-color: #4b68de;
  width: 15%;
  margin-left: 3%;
}

.btn:hover {
  color: black;
}

@media (max-width: 767.98px) {
  .btn {
    width: 40%;
  }
}
