.footer-red {
  margin-top: 10%;
  width: 100%;
  height: 15vh;
  background-color: red;
  text-align: center;
}
.footer-blue {
  margin-top: 10%;
  width: 100%;
  height: 15vh;
  background-color: #4b68de;
  text-align: center;
}

.logo {
  padding-top: 1%;
}

.media-logo {
  margin-right: 5%;
}

.para {
  margin-top: 3%;
}
