.Main-container {
  display: flex;
  width: 90%;
  height: 80vh;
  flex-direction: row-reverse;
  margin: 0 auto;
  margin-top: 5%;
}

.img-container {
  width: 50%;
}

img {
  width: 100%;
  height: 100%;
}
.form {
  /* border: 2px solid red; */
  width: 50%;
  text-align: center;
  background-color: FADFE1;
}

.form-in {
  margin-top: 25%;
}

.but1 {
  border-radius: 23px;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 15px 5%;
  color: #fff;
  transition: all 0.2s linear;
  display: inline-block;
  font-weight: 500;
  color: white;
  background-color: #4b68de;
  border-color: #4b68de;
  width: 20%;
  margin-left: 3%;
}

.but1:hover {
  color: black;
}

.but {
  border-radius: 23px;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 15px 5%;
  color: #fff;
  transition: all 0.2s linear;
  display: inline-block;
  font-weight: 500;
  color: white;
  background-color: #4b68de;
  border-color: #4b68de;
  width: 15%;
  margin-left: 3%;
}

.but:hover {
  color: black;
}
