.form {
  width: 80%;
  margin: 5% auto;
  text-align: center;
  height: 20vh;
}

.label {
  font-size: 5vh;
  display: block;
  margin-bottom: 2%;
}

.input {
  width: 40%;
  height: 5vh;
  background-color: transparent;
}

.btn {
  border-radius: 23px;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 15px 5%;
  color: #fff;
  transition: all 0.2s linear;
  display: inline-block;
  font-weight: 500;
  color: white;
  background-color: #4b68de;
  border-color: #4b68de;
  width: 15%;
  margin-left: 3%;
}

.btn:hover {
  color: black;
}

@media (max-width: 767.98px) {
  .btn {
    width: 30%;
  }
}
